@use '@/app/Functions.scss' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: fluid(30, 50);
    .link {
        .logo {
            display: block;
            color: var(--mainColor);
            height: calc(var(--fontSizeP) + fluid(5, 10) * 2 + fluid(6, 8)); 
            width: auto;
            filter: drop-shadow(0 0 1px var(--mainBackgroundColor)) drop-shadow(0 0 1px var(--mainBackgroundColor));
            transition: transform $transition;
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    transform: scale(1.1);
                    filter: drop-shadow(0 0 5px var(--mainColor));
                }
            }
            &.tapped {
                transform: scale(1.1);
                filter: drop-shadow(0 0 5px var(--mainColor));
            }
        }
    }
    .menu {
        z-index: 5;
        padding: fluid(5, 10) fluid(15, 30);
        background-color: var(--mainColor);
        border-radius: fluid(10, 15);
        border: 1px solid var(--mainBackgroundColor);
        text-align: center;
        button, a {
            font-weight: bold;
            font-size: var(--fontSizeP);
            color: var(--secondTextColor);
        }
        button {
            border: none;
            cursor: pointer;
            background: transparent;
            width: 100%;
        }
        nav {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows $transition;
        }
        .inner {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            a {
                padding-top: fluid(5, 15);
            }
        }
        &.open nav {
            grid-template-rows: 1fr;
        }
    }
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
    }
}