@use '@/app/Functions.scss' as *;

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--mainBackgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    overflow: visible;
    transition: transform 1s ease;
    border-bottom: 1px solid var(--mainColor);
    &.slideUp {
        transform: translateY(-100%);
        transition: transform 1s ease;
    }
    .logo {
        width: 300px;
        height: 300px;
        overflow: visible;
        transition: transform $transition;
    }
    &.shrink {
        transform: scale(0.7);
    }
    .path {
        fill: transparent;
        stroke: var(--mainColor);
        stroke-width: 0.5;
        stroke-linejoin: round;
        stroke-linecap: round;
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
        transition: stroke-dashoffset 0s, fill 1s ease-in-out, filter $transition;
        filter: drop-shadow(2px 2px 2px rgba(var(--mainColorRgb), 0.3));
    }
    .filled {
        fill: var(--mainColor);
        fill-opacity: 1;
        filter: drop-shadow(0 0 5px rgba(var(--mainColorRgb), 0.3));
    }
    &.shrink .path {
        filter: drop-shadow(0 0 15px rgba(var(--mainColorRgb), 0.7));
    }
}