@use '@/app/Functions.scss' as *;

footer {
    width: 100%;
    background-color: var(--footerBackgroundColor);
    color: var(--mainTextColor);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: fluid(30, 50);
    .name {
        font-size: var(--fontSizeH1);
    }
    .copyright {
        color: var(--fourthTextColor);
        margin-top: auto;
        font-size: var(--fontSizeH3);
    }
}