@use '@/app/Functions.scss' as *;

.conteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .location {
        display: flex;
        align-items: center;
        color: var(--thirdTextColor);
        font-size: var(--fontSizeP);
        gap: 5px;
        .logo {
            font-size: var(--fontSizeP);
        }
    }
    .conditions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: fluid(30, 50);
        height: 100%;
        .weather {
            display: flex;
            align-items: center;
            .code {
                height: fluid(30, 50);
                .icone {
                    height: fluid(30, 50);
                    width: fluid(30, 50);
                }
            }
            .temperature {
                font-size: var(--fontSizeH2);
                font-weight: 700;
            }
            .error {
                color: var(--mainTextColor);
                font-size: var(--fontSizeH3);
            }
            .skeleton {
                display: block;
                background-color: var(--secondBackgroundColor);
                border-radius: 4px;
                &.icone {
                    width: fluid(30, 50);
                    height: fluid(30, 50);
                    border-radius: 50%;
                }
                &.temps {
                    width: fluid(60, 100);
                    height: var(--fontSizeH2);
                    margin-left: 5px;
                }
                &.value {
                    width: fluid(40, 60);
                    height: var(--fontSizeWind);
                }
            }
        }
        .condition {
            display: flex;
            justify-content: space-between;
            background-color: var(--secondBackgroundColor);
            padding: 5px 10px;
            border-radius: 30px;
            .wind {
                display: flex;
                align-items: center;
                color: var(--windColor);
                font-size: var(--fontSizeWind);
                gap: 3px;
                .logo {
                    font-size: var(--fontSizeWind);
                }
            }
            .humidity {
                display: flex;
                align-items: center;
                color: var(--humidityColor);
                font-size: var(--fontSizeWind);
                gap: 3px;
                .logo {
                    font-size: var(--fontSizeWind);
                }
            }
        }
    }
}