@use '@/app/Mixins.scss' as *;

.cards {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    @include flexGrow(1, 0, 0);
    @include flexDirection(column, row, row);
    @include alignItems(flex-start, center, center);
    @include gap(2vh, 3.472vw, 50px);
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        @include flexGrow(1, 0, 0);
        @include width(100%, 50%, 50%);
        @include height(50%, 34.722vw, 500px);
    }
    .logo {
        background-color: var(--cardBackgroundColor);
        color: var(--secondaryTextColor);
        flex-grow: 1;
        width: 100%;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @include padding(0 3.906vw, 0 3.472vw, 0 50px);
        }
    }
    .languages {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        box-sizing: border-box;
        @include gap(3.906vw, 3.472vw, 50px);
        @include padding(3.906vw, 3.472vw, 50px);
        @include height(auto, 10.417vw, 150px);
        .language {
            width: auto;
            @include height(50px, 6.944vw, 100px);
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        box-sizing: border-box;
        @include padding(15vh 5.469vw 15vh 3.906vw, 3.472vw, 50px);
        .content {
            background: var(--secondaryColor);
            color: var(--secondaryTextColor);
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            @include width(100%, 80%, 1152px);
            @include height(100%, 80%, 720px);
            @include padding(3.906vw, 3.472vw, 50px);
            .backLogo {
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 20px;
                @include height(2.604vw, 3.472vw, 50px);
                .back {
                    border: none;
                    cursor: pointer;
                    color: var(--secondaryTextColor);
                    @include fontSize(3.906vw, 2.083vw, 30px);
                    &:hover {
                        color: var(--buttonHoverColor);
                    }
                }
                .modalLogo {
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                    img {
                        width: auto;
                        padding: 0;
                        @include height(3.906vw, 3.819vw, 55px);
                    }
                }
            }
            .image {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                max-width: 100%;
                margin-bottom: 20px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    object-fit: contain;
                }
            }
            .text {
                margin-top: auto;
                h3 {
                    color: var(--secondaryTextColor);
                    margin-bottom: 20px;
                    @include fontSize(3.646vw, 2.083vw, 30px);
                }
                p {
                    color: var(--secondaryTextColor);
                    margin-bottom: 10px;
                    @include fontSize(2.604vw, 1.389vw, 20px);
                }
            }
            .languagesLink {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .langs {
                    display: flex;
                    align-items: center;
                    h4 {
                        color: var(--secondaryTextColor);
                        margin-right: 10px;
                        @include fontSize(2.344vw, 2.083vw, 30px);
                    }
                    .list {
                        display: flex;
                        @include gap(1.302vw, 3.472vw, 50px);
                        .item {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img {
                                padding: 0;
                                @include width(auto, auto, auto);
                                @include height(3.906vw, 3.472vw, 50px);
                            }
                            span {
                                color: var(--secondaryTextColor);
                                margin-top: 10px;
                                @include fontSize(1.823vw, 1.389vw, 20px);
                            }
                        }
                    }
                }
                .links{
                    display: flex;
                    align-items: center;
                    @include flexDirection(column, row, row);
                    .github-link,
                    .pdf-link {
                        height: 42px;
                        width: 42px;
                        color: var(--secondaryTextColor);
                        transition: color 0.3s ease;
                        cursor: pointer;
                        @include height(5.469vw, 2.083vw, 30px);
                        @include width(5.469vw, 2.083vw, 30px);
                        @include fontSize(2.865vw, 2.083vw, 30px);
                        @include padding(1.302vw, 20px, 20px);
                        &:hover {
                            color: var(--buttonHoverColor);
                        }
                    }
                } 
            }
        }
    }
}