@use '@/app/Mixins.scss' as *;

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--mainColor);
    color: var(--mainTextColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include height(8vh, 5vh, 5vh);
    @include padding(0 2.604vw, 0 1.389vw, 0 20px);
    .logo {
        @include fontSize(3.906vw, 2.083vw, 30px);
    }
    p {
        @include fontSize(1.302vw, 1.389vw, 20px);
    }
    .links {
        display: flex;
        @include padding(0.26vw 0, 0 0.139vw, 0 14px);
        @include gap(1.302vw, 0.694vw, 10px);
        @include height(2.604vw, 1.389vw, 20px);
        .icon {
            @include fontSize(2.604vw, 1.389vw, 20px);
            @include width(2.604vw, 1.389vw, 20px);
            @include height(2.604vw, 1.389vw, 20px);
        }
    }
    
}