@use '@/app/Mixins.scss' as *;

footer {
  padding: 50px 50px;
  background-color: var(--footerBackgroundColor);
  color: var(--mainTextColor);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .name {
    font-size: 96px;
  }
  
  .copyright {
    color: var(--fourthTextColor);
    font-size: 32px;
    margin-top: auto;
  }
}
