@use '@/app/Mixins.scss' as *;
@use '@/app/Animations.scss' as *;


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 50px;

    .logo {
        fill: currentColor;
        color: var(--mainColor);
        height: 50px;
        width: 50px;
    }

    .button-container {
        position: fixed;
        top: 50px;
        right: 50px;
        width: 150px;
        height: 50px;
        border-radius: 30px;
        overflow: hidden;
        z-index: 30;
    }

    .menu,
    .close {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 150px;
        font-size: 24px;
        font-weight: bold;
        background-color: var(--mainColor);
        border: none;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s ease;
        span {
            display: inline-block;
            backface-visibility: hidden;
            transition: none;
        }
        &.hovered span {
            animation: frontFlip 0.5s forwards;
            opacity: 1;
        }
        &.leaving span {
            animation: leaveFlip 0.7s forwards;
            opacity: 1;
        }
        &.push-in-from-top {
            animation: pushInFromTop 0.5s forwards;
        }
        &.pushing-up {
            animation: pushUp 0.5s forwards;
        }
        &.pushing-down {
            animation: pushDown 0.5s forwards;
        }
        &.push-in-from-bottom {
            animation: pushInFromBottom 0.5s forwards;
        }
    }
    .close {
        color: var(--mainColor);
        background-color: var(--mainBackgroundColor);
    }
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .modal {
            position: absolute;
            top: 40px;
            right: 40px;
            width: 600px;
            height: 500px;
            background-color: var(--mainColor);
            border-radius: 30px;
            transform-origin: top right;
            overflow: hidden;
            nav {
                display: flex;
                flex-direction: column;
                color: var(--secondTextColor);
                font-size: 64px;
                font-weight: bold;
                padding: 50px;
                gap: 30px;
                .link-wrapper {
                    height: 88px;
                    overflow: hidden;
                    a {
                        display: block;
                        height: 78px;
                    }
                }
                &.hide-links .link-wrapper a {
                    animation: slideDownHide 0.5s ease forwards;
                    pointer-events: none;
                }
                &.show-links .link-wrapper a {
                    animation: slideUpReveal 0.5s ease forwards;
                    pointer-events: auto;
                }
            }
        }
        .modal-open {
            animation: modalOpen 0.5s ease forwards;
            z-index: 5;
        }
        .modal-close {
            animation: modalClose 0.5s ease forwards;
            z-index: 5;
        }
    }
}