@use '@/app/Mixins.scss' as *;

.weatherContainer{
    display: flex;
    flex-direction: column;
    @include padding(10px, 10px, 30px, 30px);
    .location {
        display: flex;
        align-items: center;
        color: var(--fourthTextColor);
        font-size: clamp(12px, calc(1vw + 1vh), 16px);
        gap: 5px;
        .logo{
            font-size: 16px;
        }
    }
    .weatherCondition {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .weather{
            display: flex;
            align-items: center;
            .temperature {
                font-size: clamp(15px, calc(1vw + 1vh), 40px);
                font-weight: 700;
            }
            .weatherCode{
                @include height(40px, 40px, 50px, 50px);
            }
        }
        .condition{
            display: flex;
            justify-content: space-between;
            background-color: var(--secondBackgroundColor);
            padding: 5px;
            border-radius: 30px;
            .wind{
                display: flex;
                align-items: center;
                color: var(--windColor);
                font-size: 12px;
                gap: 5px;
                .logo{
                    font-size: 20px;
                }
            }
            .humidity {
                display: flex;
                align-items: center;
                color: var(--humidityColor);
                font-size: 12px;
                gap: 5px;
                .logo{
                    font-size: 20px;
                }
            }
        }
    }
}