@mixin padding($mobile, $tablet, $desktop, $large) {
  padding: $mobile;

  @media (min-width: 768px) {
    padding: $tablet;
  }
  @media (min-width: 1025px) {
    padding: $desktop;
  }
  @media (min-width: 1440px) {
    padding: $large;
  }
}
@mixin margin($mobile, $tablet, $desktop, $large) {
  margin: $mobile;

  @media (min-width: 768px) {
    margin: $tablet;
  }
  @media (min-width: 1025px) {
    margin: $desktop;
  }
  @media (min-width: 1440px) {
    margin: $large;
  }
}
@mixin justifyContent($mobile, $tablet, $desktop, $large) {
  justify-content: $mobile;

  @media (min-width: 768px) {
    justify-content: $tablet;
  }
  @media (min-width: 1025px) {
    justify-content: $desktop;
  }
  @media (min-width: 1440px) {
    justify-content: $large;
  }
}
@mixin flexDirection($mobile, $tablet, $desktop, $large) {
  flex-direction: $mobile;

  @media (min-width: 768px) {
    flex-direction: $tablet;
  }
  @media (min-width: 1025px) {
    flex-direction: $desktop;
  }
  @media (min-width: 1440px) {
    flex-direction: $large;
  }
}
@mixin gap($mobile, $tablet, $desktop, $large) {
  gap: $mobile;

  @media (min-width: 768px) {
    gap: $tablet;
  }
  @media (min-width: 1025px) {
    gap: $desktop;
  }
  @media (min-width: 1440px) {
    gap: $large;
  }
}
@mixin fontSize($mobile, $tablet, $desktop, $large) {
  font-size: $mobile;

  @media (min-width: 768px) {
    font-size: $tablet;
  }
  @media (min-width: 1025px) {
    font-size: $desktop;
  }
  @media (min-width: 1440px) {
    font-size: $large;
  }
}
@mixin width($mobile, $tablet, $desktop, $large) {
  width: $mobile;

  @media (min-width: 768px) {
    width: $tablet;
  }
  @media (min-width: 1025px) {
    width: $desktop;
  }
  @media (min-width: 1440px) {
    width: $large;
  }
}
@mixin height($mobile, $tablet, $desktop, $large) {
  height: $mobile;

  @media (min-width: 768px) {
    height: $tablet;
  }
  @media (min-width: 1025px) {
    height: $desktop;
  }
  @media (min-width: 1440px) {
    height: $large;
  }
}
@mixin flex($mobile, $tablet, $desktop, $large) {
  flex: $mobile;

  @media (min-width: 768px) {
    flex: $tablet;
  }
  @media (min-width: 1025px) {
    flex: $desktop;
  }
  @media (min-width: 1440px) {
    flex: $large;
  }
}
@mixin right($mobile, $tablet, $desktop, $large) {
  right: $mobile;

  @media (min-width: 768px) {
    right: $tablet;
  }
  @media (min-width: 1025px) {
    right: $desktop;
  }
  @media (min-width: 1440px) {
    right: $large;
  }
}
@mixin top($mobile, $tablet, $desktop, $large) {
  top: $mobile;

  @media (min-width: 768px) {
    top: $tablet;
  }
  @media (min-width: 1025px) {
    top: $desktop;
  }
  @media (min-width: 1440px) {
    top: $large;
  }
}
@mixin right($mobile, $tablet, $desktop, $large) {
  right: $mobile;

  @media (min-width: 768px) {
    right: $tablet;
  }
  @media (min-width: 1025px) {
    right: $desktop;
  }
  @media (min-width: 1440px) {
    right: $large;
  }
}
@mixin gridCols($mobile, $tablet, $desktop, $large) {
  grid-template-columns: repeat($mobile, 1fr);

  @media (min-width: 768px) {
    grid-template-columns: repeat($tablet, 1fr);
  }
  @media (min-width: 1025px) {
    grid-template-columns: repeat($desktop, 1fr);
  }
  @media (min-width: 1440px) {
    grid-template-columns: repeat($large, 1fr);
  }
}