@use '@/app/Functions.scss' as *;

#home {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 100dvh;
    gap: fluid(10, 30);
    padding: fluid(110, 150) fluid(30, 150) fluid(30, 150) fluid(30, 150);
    .introduction{
        display: flex;
        flex-direction: column;
        gap: fluid(10, 30);
        h1{
            font-size: var(--fontSizeH1);
            text-shadow: 0 0 10px rgba(var(--mainColorRgb), 0.5);
            span{
                color: var(--mainColor);
            }
        }
        p {
            color: var(--mainTextColor);
            font-size: var(--fontSizeP);
        }
    }
    .link {
        display: flex;
        flex-direction: column;
        gap: fluid(10, 30);
        .shortcuts {
            display: flex;
            flex-direction: column;
            gap: fluid(10, 30);
            @media (min-width: 1025px) {
                flex-direction: row;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--mainBackgroundColor);
                color: var(--mainTextColor);
                border: 2px solid var(--mainColor);
                border-radius: fluid(10, 15);
                padding: fluid(10, 15);
                font-weight: bold;
                transition: all $transition;
                cursor: pointer;
                font-size: var(--fontSizeP);
                width: 100%;
                height: fit-content;
                text-decoration: none;
                @media (min-width: 1025px) {
                    width: 30%;
                }
                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        background-color: var(--mainColor);
                        color: var(--secondTextColor);
                    }
                }
            }
            .primary {
                background-color: var(--mainColor);
                color: var(--secondTextColor);
                border: 2px solid var(--mainColor);
                &::before {
                    display: none;
                }
                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        background-color: var(--mainBackgroundColor);
                        color: var(--mainColor);
                    }
                }
            }
        }
    }
}
#project {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 0 fluid(30, 150) fluid(30, 150) fluid(30, 150);
    gap: fluid(30, 50);
    .carousel{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: fluid(10, 30);
    }
}
#about {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    gap: fluid(30, 50);
    .content {
        display: flex;
        flex-direction: column;
        gap: fluid(10, 30);
        padding: 0 fluid(30, 150) fluid(30, 150) fluid(30, 150);
        @media (min-width: 1025px) {
            flex-direction: row;
            align-items: center;
        }
        .left {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: fluid(10, 30);
            @media (min-width: 1025px) {
                width: 50%;
            }
            .introduction {
                display: flex;
                flex-direction: column;
                line-height: 1.6;
                p {
                    font-size: var(--fontSizeP);
                    color: var(--mainTextColor);
                }
            }
            .link {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: fluid(10, 30);
                @media (min-width: 769px) {
                    flex-direction: row;
                }
                @media (min-width: 1025px) {
                    flex-direction: column;
                }
                .shortcuts {
                    display: flex;
                    width: 100%;
                    @media (min-width: 769px) {
                        width: 50%;
                    }
                    @media (min-width: 1025px) {
                        width: 100%;
                    }
                    a {
                        background-color: var(--mainBackgroundColor);
                        color: var(--mainTextColor);
                        border: 2px solid var(--mainColor);
                        border-radius: fluid(10, 15);
                        padding: fluid(10, 15);
                        font-weight: bold;
                        transition: all $transition;
                        width: 100%;
                        font-size: var(--fontSizeH3);
                        height: fit-content;
                        text-align: center;
                        @media (hover: hover) and (pointer: fine) {
                            &:hover {
                                background-color: var(--mainColor);
                                color: var(--secondTextColor);
                            }
                        }
                    }
                }
            }
        }
        .right {
            gap: fluid(10, 30);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            @media (min-width: 769px) and (max-width: 1024px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 0.5fr;
            }
            @media (min-width: 1025px) {
                width: 50%;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 0.5fr;
                min-height: 600px;
            }
            .gadget {
                display: none;
                @media (min-width: 769px) {
                    display: grid;
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                    gap: fluid(10, 30);
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                }
                .rocket {
                    grid-column: 1;
                    grid-row: 1 / 3;
                    border-radius: 15px;
                    box-shadow: inset 0 0 10px rgba(var(--mainColorRgb), 0.4);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    .rocketWrapper {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        z-index: 3;
                        animation: float 3s ease-in-out infinite;
                        .rocketIcon {
                            color: var(--mainColor);
                        }
                        .rocketFire {
                            position: absolute;
                            top: 100%;
                            animation: fireFlicker 1.5s infinite;
                            transform-origin: top center;
                            color: var(--fireColor);
                        }
                    }
                    .moon {
                        position: absolute;
                        z-index: 1;
                        rotate: 180deg;
                        top: 40px;
                        right: 30px;
                    }
                    .cloud {
                        position: absolute;
                        top: -100px;
                        width: 80px;
                        z-index: 2;
                        animation: moveClouds 10s linear infinite;
                    }
                    .cloud1 {
                        left: 20px;
                        animation-delay: 0s;
                    }
                    .cloud2 {
                        right: 0;
                        animation-delay: 5s;
                    }
                }
                .clock {
                    grid-column: 2;
                    grid-row: 1;
                    background-color: var(--mainColor);
                    border-radius: fluid(10, 15);
                    padding: fluid(10, 15);
                    box-shadow: inset 0 0 10px rgba(var(--mainColorRgb), 0.4);
                    overflow: hidden;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    --modul-offset: 0px;
                    .logo {
                        color: var(--secondTextColor);
                        transition: opacity $transition;
                        height: fluid(50, 100);
                    }
                    > div {
                        margin-left: auto;
                        transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
                        transform: translateX(0);
                    }
                    @media (hover: hover) and (pointer: fine) {
                        &:hover {
                            .logo {
                                opacity: 0;
                            }
                            > div {
                                transform: translateX(calc(-1 * var(--modul-offset)));
                            }
                        }
                    }
                }
                .meteo {
                    grid-column: 2;
                    grid-row: 2;
                    border-radius: fluid(10, 15);
                    padding: fluid(10, 15);
                    box-shadow: inset 0 0 10px rgba(var(--mainColorRgb), 0.4);
                    overflow: hidden;
                }
            }
            .contribution {
                grid-column: 1;
                grid-row: 1;
                border-radius: fluid(10, 15);
                padding: fluid(10, 15);
                box-shadow: inset 0 0 10px rgba(var(--mainColorRgb), 0.4);
                min-width: 0;
                @media (min-width: 769px) {
                    grid-column: 1 / 3;
                    grid-row: 3;
                }
            }
        }
    }
}
#technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: fluid(30, 50);
    padding: 0 fluid(30, 150) fluid(30, 150) fluid(30, 150);
}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: fluid(30, 50);
    padding: 0 fluid(30, 150) fluid(30, 150) fluid(30, 150);
    .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: fluid(10, 30);
        background-color: var(--mainColor);
        border-radius: fluid(20, 40);
        color: var(--secondTextColor);
        padding: fluid(10, 30);
        width: 100%;
    }
    h3{
        font-size: var(--fontSizeH2);
        font-weight: bold;
    }
    .pub {
        font-size: var(--fontSizeH3);
        span{
            font-weight: bold;
        }
    }
    .direct {
        font-size: var(--fontSizeP);
    }
}