@use '@/app/Functions.scss' as *;

#home {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: fluid(30, 50);
    padding: fluid(110, 150) fluid(30, 150) fluid(30, 150) fluid(30, 150);
    .introduction{
        display: flex;
        flex-direction: column;
        gap: fluid(30, 50);
        h1{
            font-size: var(--fontSizeLargeMobile);
            @media (min-width: 1025px) {
                font-size: var(--fontSizeLarge);
            }
            span{
                color: var(--mainColor);
            }
        }
        p {
            color: var(--thirdTextColor);
            font-size: var(--fontSizeNormalMobile);
            @media (min-width: 1025px) {
                font-size: var(--fontSizeNormal);
            }
        }
    }
    .link {
        display: flex;
        flex-direction: column;
        gap: fluid(30, 50);
        .shortcuts {
            display: flex;
            flex-direction: column;
            gap: fluid(30, 50);
            @media (min-width: 1025px) {
                flex-direction: row;
            }
            button {
                position: relative;
                background-color: var(--mainBackgroundColor);
                color: var(--mainTextColor);
                border: 1px solid var(--mainColor);
                border-radius: 15px;
                font-weight: bold;
                z-index: 1;
                overflow: hidden;
                transition: all 0.5s ease;
                cursor: pointer;
                font-size: var(--fontSizeNormalMobile);
                width: 100%;
                height: fit-content;
                padding: 15px;
                @media (min-width: 1025px) {
                    width: 30%;
                    font-size: var(--fontSizeNormal);
                }
                span {
                    position: relative;
                    z-index: 2;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0%;
                    background-color: var(--mainColor);
                    z-index: 1;
                    transition: width 0.5s ease;
                }
                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        color: var(--secondTextColor);
                        &::before {
                            width: 100%;
                        }
                    }
                }
                &.tapped {
                    color: var(--secondTextColor);
                    &::before {
                        width: 100%;
                        transition: width 0.5s ease;
                    }
                }
            }
            .primary {
                background-color: var(--mainColor);
                color: var(--secondTextColor);
                &::before {
                    display: none;
                }
                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        background-color: var(--buttonHoverColor);
                    }
                }
            }
        }
        .socials {
            display: flex;
            z-index: 1;
            gap: fluid(30, 50);
            justify-content: space-around;
            @media (min-width: 769px) {
                justify-content: flex-start;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--secondBackgroundColor);
                transition: border-radius 0.2s ease, background-color 0.2s ease;
                aspect-ratio: 1/1;
                flex: 1;
                max-width: 70px;
                svg {
                    transition: fill 0.2s ease, color 0.2s ease;
                    width: 60%;
                    height: 60%;
                }
                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        border-radius: 25px;

                        &.github svg {
                        color: var(--githubcolor);
                        }
                        &.linkedin svg {
                        color: var(--linkedincolor);
                        }
                        &.portfolio svg {
                        color: var(--portfoliocolor);
                        }
                        &.skybound svg {
                        color: var(--skyboundcolor);
                        }
                    }
                }
                &.tapped {
                    border-radius: 25px;
                    &.github svg {
                        color: var(--githubcolor);
                    }
                    &.linkedin svg {
                        color: var(--linkedincolor);
                    }
                    &.portfolio svg {
                        color: var(--portfoliocolor);
                    }
                    &.skybound svg {
                        color: var(--skyboundcolor);
                    }
                }
            }
        }
    }
}
#project {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 80%;
        height: 5px;
        pointer-events: none;
        background: linear-gradient(
        to right,
        transparent 0%,
        rgba(var(--mainColorRgb), 0.4) 50%,
        transparent 100%
        );
        transform: translateX(-50%);
        z-index: 1;
    }
    .haloWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        overflow: hidden;
        pointer-events: none;
        z-index: 0;
        .halo {
        position: absolute;
        top: -75%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 300px;
        background: radial-gradient(
            circle at top,
            rgba(var(--mainColorRgb), 0.6) 0%,
            rgba(var(--mainColorRgb), 0.3) 20%,
            rgba(var(--mainColorRgb), 0.1) 40%,
            transparent 80%
        );
        filter: blur(20px);
        border-radius: 50%;
        }
    }
    h2 {
        background: linear-gradient(to bottom, #6d7173, #fcfcfc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: var(--fontSizeLarge);
        text-align: center;
        background-size: 100% 200%;
        background-position: top;
        padding: fluid(50, 30) 0 0 0;
    }
}
#about {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 80%;
        height: 5px;
        pointer-events: none;
        transform: translateX(-50%);
        z-index: 1;
        background: linear-gradient(
            to right,
            transparent 0%,
            rgba(var(--mainColorRgb), 0.4) 50%,
            transparent 100%
        );
    }
    .haloWrapper {
        position: absolute;
        top: 0; left: 0; width: 100%; height: 200px;
        overflow: hidden;
        pointer-events: none;
        z-index: 0;
        .halo {
            position: absolute;
            top: -75%;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 300px;
            background: radial-gradient(
                circle at top,
                rgba(var(--mainColorRgb), 0.6) 0%,
                rgba(var(--mainColorRgb), 0.3) 20%,
                rgba(var(--mainColorRgb), 0.1) 40%,
                transparent 80%
            );
            filter: blur(20px);
            border-radius: 50%;
        }
    }
    h2 {
        background: linear-gradient(to bottom, #6d7173, #fcfcfc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: var(--fontSizeLarge);
        text-align: center;
        background-size: 100% 200%;
        background-position: top;
        padding: fluid(90, 50) 0 0 0;
    }
    .content {
        display: flex;
        flex-grow: 1;
        min-height: 0;
        overflow-y: auto;
        max-width: 100%;
        flex-direction: column;
        gap: fluid(10, 50);
        padding: 0 fluid(30, 150) fluid(30, 150) fluid(30, 150);
        @media (min-width: 1025px) {
            flex-direction: row;
        }
        .left,
        .right {
            display: flex;
            flex-direction: column;
            min-height: 0;
            min-width: 0;
            flex-shrink: 1;
        }
        .left {
            min-height: 190px;
            justify-content: space-between;
            gap: fluid(5, 30);
            flex: 1;
            .introduction {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                p {
                font-size: var(--fontSizeNormal);
                color: var(--thirdTextColor);
                }
            }
            .link {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: fluid(10, 30);
                @media (min-width: 769px) {
                    flex-direction: row;
                }
                @media (min-width: 1025px) {
                    flex-direction: column;
                }
                .shortcuts {
                    display: flex;
                    width: 100%;
                    @media (min-width: 769px) {
                        width: 50%;
                    }
                    @media (min-width: 1025px) {
                        width: 100%;
                    }
                    button {
                        position: relative;
                        background-color: var(--mainBackgroundColor);
                        color: var(--mainTextColor);
                        border: 1px solid var(--mainColor);
                        border-radius: 15px;
                        font-weight: bold;
                        z-index: 1;
                        overflow: hidden;
                        transition: all 0.5s ease;
                        width: 100%;
                        cursor: pointer;
                        font-size: var(--fontSizeNormal);
                        height: fluid(30, 70);
                        span {
                            position: relative;
                            z-index: 2;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 0%;
                            background-color: var(--mainColor);
                            z-index: 1;
                            transition: width 0.5s ease;
                        }
                        @media (hover: hover) and (pointer: fine) {
                            &:hover {
                                color: var(--secondTextColor);
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                        &.tapped {
                            color: var(--secondTextColor);
                            &::before {
                                width: 100%;
                                transition: width 0.5s ease;
                            }
                        }
                    }
                }
                .socials {
                    display: flex;
                    z-index: 1;
                    gap: fluid(28, 30);
                    justify-content: center;
                    @media (min-width: 769px) {
                        justify-content: flex-start;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--secondBackgroundColor);
                        transition: border-radius 0.2s ease, background-color 0.2s ease;
                        width: fluid(40, 70);
                        height: fluid(40, 70);
                        svg {
                            transition: fill 0.2s ease, color 0.2s ease;
                            width: fluid(20, 35);
                            height: fluid(20, 35);
                        }
                        @media (hover: hover) and (pointer: fine) {
                            &:hover {
                                border-radius: 25px;

                                &.github svg {
                                color: var(--githubcolor);
                                }
                                &.linkedin svg {
                                color: var(--linkedincolor);
                                }
                                &.portfolio svg {
                                color: var(--portfoliocolor);
                                }
                                &.skybound svg {
                                color: var(--skyboundcolor);
                                }
                            }
                        }
                        &.tapped {
                            border-radius: 25px;
                            &.github svg {
                                color: var(--githubcolor);
                            }
                            &.linkedin svg {
                                color: var(--linkedincolor);
                            }
                            &.portfolio svg {
                                color: var(--portfoliocolor);
                            }
                            &.skybound svg {
                                color: var(--skyboundcolor);
                            }
                        }
                    }
                }
            }
        }
        .right {
            flex-direction: column;
            gap: fluid(10, 30);
            flex: 1;
            .gadget {
                flex: 4;
                display: flex;
                gap: fluid(10, 30);
                .rocket {
                    flex: 1;
                    border-radius: 15px;
                    box-shadow: inset 0 0 10px rgba(var(--mainColorRgb), 0.4);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    display: none;
                    @media (min-width: 769px) {
                        display: flex;
                    }
                    .rocketWrapper {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        z-index: 3;
                        animation: float 3s ease-in-out infinite;
                        .rocketIcon {
                            color: var(--mainColor);
                        }
                        .rocketFire {
                            position: absolute;
                            top: 100%;
                            animation: fireFlicker 1.5s infinite;
                            transform-origin: top center;
                            color: var(--fireColor);
                        }
                    }
                    .moon {
                        position: absolute;
                        z-index: 1;
                        rotate: 180deg;
                        top: 40px;
                        right: 30px;
                    }
                    .cloud {
                        position: absolute;
                        top: -100px;
                        width: 80px;
                        z-index: 2;
                        animation: moveClouds 10s linear infinite;
                    }
                    .cloud1 {
                        left: 20px;
                        animation-delay: 0s;
                    }
                    .cloud2 {
                        right: 0;
                        animation-delay: 5s;
                    }
                }
                .meteoClock {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    gap: fluid(10, 30);
                    @media (min-width: 1025px) {
                        flex-direction: column;
                    }
                    .clock,
                    .meteo {
                        flex: 1;
                        border-radius: 15px;
                        box-shadow: inset 0 0 10px rgba(var(--mainColorRgb), 0.4);
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        overflow: hidden;
                        position: relative;
                        &:before {
                            content: "";
                            display: block;
                            pointer-events: none;
                        }
                        > * {
                            position: absolute;
                            top: 0; left: 0; right: 0; bottom: 0;
                            display: flex;
                            flex-direction: column;
                        }
                    }
                    .clock {
                        background-color: var(--mainColor);
                        .logo {
                            color: var(--secondTextColor);
                            margin-top: 10px;
                            transition: opacity 0.5s ease;
                            height: fluid(40, 70);
                        }
                        .modul {
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            transition: transform 0.8s ease;
                            transform: translateX(0);
                        }
                        @media (hover: hover) and (pointer: fine) {
                            &:hover {
                                .logo {
                                    opacity: 0;
                                }
                                .modul {
                                    transform: translateX(calc(-100% + 80px));
                                }
                            }
                        }
                    }
                }
            }
            .contribution {
                padding: 20px;
                border-radius: 15px;
                box-shadow: inset 0 0 10px rgba(var(--mainColorRgb), 0.4);
                min-height: 0;
                flex: 2;
                @media (min-width: 769px) {
                    flex: 1;
                }
            }
        }
    }
}
#technology {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: fluid(110, 150) fluid(30, 150);
}
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: fluid(110, 150) fluid(30, 150);
    .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--mainColor);
        border-radius: 50px;
        width: 100%;
        height: 100%;
        color: var(--secondTextColor);
        padding: fluid(30, 80);
    }
    h2{
        font-size: var(--fontSizeLarge);
        font-weight: bold;
    }
    .pub {
        font-size: var(--fontSizeMedium);
        span{
            font-weight: bold;
        }
    }
    .direct {
        font-size: var(--fontSizeNormal);
    }
}
