@media (prefers-color-scheme: dark) {
    :root {
        --mainColor: #55C903;
        --mainColorRgb: 85, 201, 3;
        --mainBackgroundColor: #101010;
        --secondBackgroundColor : #1E1E1E;
        --mainTextColor: #ffffff;
        --secondTextColor: #101010;
        --thirdTextColor: #DBDBDB;
        --buttonhovercolor: #46a500;
        --scroolBarThumb: #6b6b6b;
        --scroolBarHover: #555;
        --scroolBarBorder: #ffffff;
        --githubcolor:#6e5494;
        --linkedincolor:#0a66c2;
        --portfoliocolor:#ff5722;
        --skyboundcolor:#1DB954;

    }
}