:root {
    --mainColor: #7bce3f;
    --mainColorRgb: 123, 206, 63;

    --mainBackgroundColor: #101010;
    --mainBackgroundColorRgb: 16, 16, 16;

    --secondBackgroundColor: #1E1E1E;
    --footerBackgroundColor: #141615;

    --mainTextColor: #d4d3d3;
    --secondTextColor: #101010;
    --thirdTextColor: #DBDBDB;
    --fourthTextColor:#6e6e6e;

    --buttonHoverColor: #6cb33a;
    --inputColor: #DBDBDB;
    --errorColor: #c52724;
    --errorColorRgb: 197, 39, 36;
    --successColor: #428611;

    --scroolBarThumb: #6b6b6b;
    --scroolBarHover: #555;
    --scroolBarBorder: #ffffff;

    --githubcolor:#3D2C8D;
    --linkedincolor:#0077B5;
    --portfoliocolor:#7bce3f;
    --skyboundcolor:#145DA0;

    --fireColor:#d86523;

    --windColor: #FF8C42;
    --humidityColor: #1F6FEB;

    --frontendColor: #61dafb;
    --backendColor: #68a063;
    --deploymentColor: #f5a62f;
    --designColor: #e27231;
    --toolsColor: #f1502f;
    --aiColor: #a259ff;

    --fontSizeLarge: clamp(26px, 4vw, 52px);
    --fontSizeMedium: clamp(22px, 3.2vw, 40px);
    --fontSizeNormal: clamp(16px, 2.3vw, 26px);
    --fontSizeSmall: clamp(14px, 2vw, 22px);
    --fontSizeExtraSmall: clamp(12px, 1.5vw, 18px);
    --fontSizeButton: clamp(17px, 2.5vw, 28px);
}